body{
    
   font-family: Arial, Helvetica, sans-serif;
}


h1{
    text-align: center;
    color: blue;
    }
p{
  text-align:left;
    margin-left: 5px;
    margin-right: 5px;
    color:black;
    font-size: 1.5em;
    }

img
 {
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%

  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.3%; /*---menu arrange--*/
    padding: 5px;
  }
  


/*---navbar--*/
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgba(89, 223, 18, 0.808);
    }
   
    li {
      float: left; /*---menu arrange--*/
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: rgb(141, 167, 80);
    }

    

    .fa {
      float:right; /*---social media positioning----*/
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
    }
    /*this is a new comment*/
    /*this is a second comment*/
    /*this is the first version*/
    /*this is the second version*/
    